**.pyc
*/cpw*
#.idea
.idea/workspace.xml
#.idea/inspectionProfiles
.idea/misc.xml
.idea/*CACHE*
.idea/dataSources.xml
#doc
smb.conf
*venv*
*pytest_cache*
*pushbulletSettings*
reports
data/*.sqlite3
util/htmlcov
pi_image
secrets.json

.env